#root {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.NavBar {
  display: flex;
  flex-flow: wrap;
  gap: 100px;
  justify-content: center;
  background-color: rgb(204, 3, 3);
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  z-index: 1000;
}

button {
  width: 100%;
  padding: 7%;
  margin: 1rem;
  text-align: center;
  line-height: 50px;
  justify-content: center;
  border-radius: 15%;
  border-width: 5px;
  border-color: rgb(87, 88, 79);
  border-style: solid;
  background-size: cover;
  background-color: rgb(229, 231, 216);
  font-size: 3rem;
  cursor: pointer;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  overflow: visible;
}

button:hover {
  background-color: #ccc;
  border-color: #444;
}

button:active {
  transform: scale(0.95);
}

#logo {
  width: 300px;
  height: auto;
}

.articles-container {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 120px;
  gap: 20px;
}
.article-card {
  position: relative;
  width: 80%;
  background-color: #fff;
  border: 2px solid grey;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin: 10px;
}

.individual-article-card {
  padding-top: 20px;
  position: relative;
  width: 80%;
  background-color: #fff;
  border: 2px solid grey;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  align-items: center;
  margin: 10px;
  margin-top: 200px;
}

.individual-article-card .body-text {
  font-size: 1.125rem;
  color: #333;
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

#upvote {
  display: flex;
  bottom: 50px;
  right: 50px;
  width: 200px;
  height: 100px;
  padding: 5px;
  font-size: 5rem;
  background-color: rgb(204, 204, 204);
  border: 1px solid grey;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

#upvote:active {
  color: rgb(204, 3, 3);
}

#downvote {
  display: flex;
  bottom: 50px;
  left: 50px;
  width: 200px;
  height: 100px;
  padding: 5px;
  font-size: 5rem;
  background-color: rgb(204, 204, 204);
  border: 1px solid grey;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

#downvote:active {
  color: rgb(204, 3, 3);
}

#votes-container {
  position: absolute;
  bottom: 130px;
  left: 250px;
  padding: 10px 20px;
  background-color: rgb(204, 3, 3);
  color: white;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
}

.article-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#view-article {
  display: flex;
  position: absolute;
  bottom: 50px;
  right: 50px;
  width: 200px;
  height: 100px;
  padding: 5px;
  font-size: 2rem;
  background-color: bisque;
  border: 1px solid grey;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

#view-comments {
  display: flex;
  position: absolute;
  bottom: 50px;
  right: 50px;
  width: 500px;
  height: 100px;
  padding: 80px;
  font-size: 3rem;
  background-color: rgb(204, 204, 204);
  border: 1px solid grey;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

#temp {
  background-color: #444;
  margin: 200px;
}
